#VITE_API_BASE_URL=https://api.droplinki.com/
VITE_API_BASE_URL=http://localhost:8000

VITE_GOOGLE_CLIENT_ID=929251337249-ag6l7kmneg094tb1c8a5npljh81rv3v9.apps.googleusercontent.com


VITE_PUSHER_KEY=
VITE_PUSHER_CLUSTER=
